<wa-card>
  <h4 slot="header"
      class="m-b-0">
    {{ .Model.Title }}
    </h3>
    <wa-markdown>
      <script type="text/markdown">
{{ .Model.Message.Message }}
    </script>
    </wa-markdown>
    {{if .Model.IsToolRequest}}
    <div slot="footer">
      <div class="wa-flank:start wa-gap-2xs">
        {{if .Model.IsAgentRequest}}
        <div>
          <wa-button href="/chat/{{ .Model.Message.Tool.Id }}"
                     size="xs"
                     appearance="accent">
            See More
          </wa-button>
        </div>
        {{end}}
        {{if .Model.IsToolApprovalNeeded}}
        <form method="POST"
              data-hx-post="/chat/{{ .Model.Message.Context }}/accept"
              data-hx-target="#chat-result"
              data-hx-swap="outerHTML">
          <input type="hidden"
                 name="type"
                 value="execute" />
          <input type="hidden"
                 name="context"
                 value="{{ .Model.Message.Context }}" />
          <input type="hidden"
                 name="tool_message"
                 value="{{ .Model.Message.Message }}" />
          <input type="hidden"
                 name="tool_reasoning_content"
                 value="{{ .Model.Message.ReasoningContent }}" />
          <input type="hidden"
                 name="tool_id"
                 value="{{ .Model.Message.Tool.Id }}" />
          <input type="hidden"
                 name="tool_name"
                 value="{{ .Model.Message.Tool.Name }}" />
          <input type="hidden"
                 name="tool_arguments"
                 value="{{ .Model.Message.Tool.Arguments }}" />
          <wa-button variant="brand"
                     size="xs"
                     appearance="accent"
                     type="submit">
            Submit
          </wa-button>
        </form>
        <form method="POST"
              data-hx-post="/chat/{{ .Model.Message.Context }}/reject"
              data-hx-target="#chat-result"
              data-hx-swap="outerHTML">
          <input type="hidden"
                 name="type"
                 value="reject" />
          <input type="hidden"
                 name="context"
                 value="{{ .Model.Message.Context }}" />
          <input type="hidden"
                 name="tool_message"
                 value="{{ .Model.Message.Message }}" />
          <input type="hidden"
                 name="tool_reasoning_content"
                 value="{{ .Model.Message.ReasoningContent }}" />
          <input type="hidden"
                 name="tool_id"
                 value="{{ .Model.Message.Tool.Id }}" />
          <input type="hidden"
                 name="tool_name"
                 value="{{ .Model.Message.Tool.Name }}" />
          <input type="hidden"
                 name="tool_arguments"
                 value="{{ .Model.Message.Tool.Arguments }}" />
          <wa-button variant="danger"
                     size="xs"
                     appearance="accent"
                     type="submit">
            Cancel
          </wa-button>
        </form>
        {{end}}
      </div>
    </div>
    {{end}}
</wa-card>