.w-screen {
    width: 100vw;
}

.h-screen {
    height: 100vh;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

/* PADDING */

.p-0 {
    padding: 0;
}

.p-l-0 {
    padding-left: 0;
}

.p-r-0 {
    padding-right: 0;
}

.p-t-0 {
    padding-top: 0;
}

.p-b-0 {
    padding-bottom: 0;
}

.p-s {
    padding: 0.5rem;
}

.p-l-s {
    padding-left: 0.5rem;
}

.p-r-s {
    padding-right: 0.5rem;
}

.p-t-s {
    padding-top: 0.5rem;
}

.p-b-s {
    padding-bottom: 0.5rem;
}

.p-m {
    padding: 1rem;
}

.p-l {
    padding: 2rem;
}

/* MARGIN */

.m-0 {
    margin: 0;
}

.m-l-0 {
    margin-left: 0;
}

.m-r-0 {
    margin-right: 0;
}

.m-t-0 {
    margin-top: 0;
}

.m-b-0 {
    margin-bottom: 0;
}

/* CUSTOM */

.layout-dashboard-body-left {
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.layout-dashboard-body-right {
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.flex-align-items-stretch {
    align-items: stretch;
}

.scroll-y {
    overflow-y: scroll;
}

.flex-fix {
    overflow: auto;
}