<div class="h-full w-full flex-column flex-align-items-stretch">
  <div class="flex-grow flex-fix">
    <div class="h-full w-full flex-column flex-align-items-stretch">
      <div class="w-full p-r-s">
        <form method="POST"
              action="/chat-view">
          <div class="flex-row flex-align-items-center">
            <span class="wa-heading-l p-r-s p-t-s p-b-s">
              Chat
            </span>
            <wa-select size="xs"
                       name="chat_id"
                       class="p-r-s">
              {{range $val := .Model.Chats}}
              {{if $val.Current}}
              <wa-option value="{{$val.Id}}"
                         selected>
                {{$val.Id}}
              </wa-option>
              {{else}}
              <wa-option value="{{$val.Id}}">
                {{$val.Id}}
              </wa-option>
              {{end}}
              {{end}}
            </wa-select>
            <wa-button size="xs"
                       variant="neutral"
                       appearance="accent"
                       type="submit">
              Go
              </wa-icon>
            </wa-button>
          </div>
        </form>
        <wa-divider class="m-t-s p-b-0"></wa-divider>
      </div>
      <div class="flex-grow flex-fix">
        <div class="w-full wa-stack p-r-s">
          {{index .Components "chats"}}
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="w-full wa-stack p-r-s">
      <wa-divider></wa-divider>
      <form method="POST"
            data-hx-post="/chat/{{ .Model.Context }}"
            data-hx-target="#chat-result"
            data-hx-swap="outerHTML"
            hx-on::after-request="if(event.detail.successful) this.reset()">
        <div class="wa-flank:end">
          <div>
            <wa-input name="message"
                      placeholder="Chat"
                      with-clear>
            </wa-input>
          </div>
          <div>
            <wa-button variant="neutral"
                       appearance="accent"
                       type="submit">
              <wa-icon name="comment"
                       label="Home">
              </wa-icon>
            </wa-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>